/* App.css */

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: white;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
}

img {
  width: 30%;
  object-fit: contain;
}
